# Build Files
build/
builddir/
compile_commands.json

# Doxygen Output
doc/html/
doc/latex/

# Meson Wrap
subprojects/*
!subprojects/*.wrap

# ANTLR4
grammars/ebnf/.antlr/

# vs-code
.vscode/
.cache/

# databeses
127.0.0.1*

obsolete/

# logs
logs/